/*footer*/
.footer{
	background-image: url(../img/backgrounds/footer_bg.jpg);
	padding-top: 56px;
    padding-bottom: 46px;
    a{
    	font-size: 17.6px;
    	color: #4386ac;
	    padding-right: 15px;
    	padding-left: 15px;
    	transition:color 0.5s;
    }
    a:hover{
    	color:#fff;
    }
    li{
    	display: inline-block;
    }
    li:after{
    	content: " | ";
    	color: #4386ac;
    }
    li:last-child:after{
    	display: none;
    	
    }
    li:last-child{
    	a{
    		padding-right: 0px;
    		padding-left: 0px;
    	}
    }
	.iso{
		background-image: url(../img/icons/footer_icon1.png);
		background-repeat: no-repeat;
		background-position: left center;
		color: #ffffff;
		font-size: 24px;
		font-family: 'FBADRENALIN-REGULAR';
	    padding-top: 15px;
	    padding-bottom: 15px;
	    padding-left: 79px;
	    margin-top: 13px;
	    display: inline-block;
	    transition:background 0.5s;
	}
	.iso:hover{
		background-image: url(../img/icons/footer_icon1_active.png);
	}
}

/*end footer*/